<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/deepakravi/IdeaProjects/RestAssured/src/test/java/automation/test1.java"><classes><class name="automation.test1"><methods><include name="url"/></methods></class></classes></test></suite>